.slider {
    overflow: hidden;
}

.slidesContainer {
    width: 100%;
    display: flex;
    align-items: center;
}
  
.slides {
    min-width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.sliderNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
}

.inActive {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin: 0px 4px;
}

.active {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin: 0px 4px;
    background-color: #ffffff;
}

.sliderNavigation img {
    width: 24px;
    cursor: pointer;
}

  